.main{
    background: #68CDD5;
    width:100%;
}
.backspace{
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
}
.logo-container {
    padding-top: 10rem;
    width: 100%;
}
.logo{
    align-self: center;
    display: block;
    margin:0 auto;
}
.text-container{
    margin-top: 6rem;
    width: 100%;
}
p{
    margin:0 auto;
    font-size: 1.2rem;
    font-family:"微软雅黑 Light";
    color: white;
    width: 70%;
    text-align: justify;
}
.button-container{
    padding-top: 30rem;
    width: 100%;
}
.btn1,.btn2{
    display: block;
    margin-top: -20rem;
    position: absolute;
}
.btn1{
    left:15% ;
}
.btn2{
    right: 15%;
}
.btn-word1,.btn-word2{
    position: absolute;
    margin-top: -14rem;
    display: block;
    width:5.5rem;
    text-align: center;
}
.btn-word1{
    left:15%;
}
.btn-word2{
    right:15%;
}
