.body{
    background: #EFF0F4;
    width: 100%;
    height: 100%;
}
.header{
    background:#5AC0CE ;
    width: 100%;
    height: 6.25rem;

}
.hleft,.hcenter,.hright{
    float: left;
    margin-top: 0.625rem;
}
.hleft{
    width: 20%;
}
.hcenter{
    width: 60%;
}
.hright{
    width: 20%;
}
p{
    font-family: "微软雅黑";
    font-size: 1.25rem;
    text-align: center;
    color: #FFFFFF;
}
p.login{
    font-size: 1.56rem;
    font-weight: 500;
}
.container{
    background: #FFFFFF;
    width: 100%;
    height: 7.5rem;
    margin-top: 1.25rem;
    vertical-align: middle;
}
div.img1{
    background: url("images/login.png")no-repeat;
}
div.img2{
    background: url("images/pwd.png")no-repeat;
}
div.img1,div.img2{
    width: 5.625rem;
    height: 5.625rem;
    background-size: 100% 100%;
    position: absolute;
    left: 0.625rem;
    margin: 0.31rem;
}

div.img{
    width: 0.125rem;
    height: 6.25rem;
    position: absolute;
    left: 6.875rem;
    margin: 0.31rem;
    margin-top: 0.5rem;
    background-color:#EAEAEA;
}
div.username,div.password{
    width: 80%;
    height: 7.5rem;
    margin-left: 0.94rem;
    padding: 0.31rem;
    position: absolute;
    left: 7.5rem;
}
.usr{
    border: 0;
    outline: none;
    width: 98%;
    height: 80%;
    font-size: 1.875rem;
    background: transparent;
}
.click{
    background: #5AC0CE;
    width:100%;
    margin-top: 1.25rem;
    height: 7.5rem;
}
p.log {
    text-align: center;
    margin: 0;
    height: 100%;
    padding-top: 2.2rem;
    font-size: 1.56rem;
}
.forget{
    float: right;
    margin: 0.625rem;
    margin-right:0.94rem;
}
a{
    font-size: 1.25rem;
}