.body{
    background: #EFF0F4;
    width: 100%;
    height: 100%;
}
.header{
    background:#5AC0CE ;
    width: 100%;
    height: 100px;

}
.hleft,.hcenter,.hright{
    float: left;
    margin-top: 10px;
}
.hleft{
    width: 20%;
}
.hcenter{
    width: 60%;
}
.hright{
    width: 20%;
}
p{
    font-family: "微软雅黑";
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
p.login{
    font-size: 25px;
    font-weight: 500;
}
.container{
    background: #FFFFFF;
    width: 100%;
    height: 120px;
    margin-top: 20px;
    vertical-align: middle;
}
div.img1{
    background: url("images/login.png")no-repeat;
}
div.img2{
    background: url("images/pwd.png")no-repeat;
}
div.img1,div.img2{
    width: 90px;
    height: 90px;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    margin: 5px;
}

div.img{
    width: 2px;
    height: 100px;
    position: absolute;
    left: 110px;
    margin: 5px;
    margin-top: 8px;
    background-color:#EAEAEA;
}
div.username,div.password{
    width: 80%;
    height: 120px;
    margin-left: 15px;
    padding: 5px;
    position: absolute;
    left: 120px;
}
.usr{
    border: 0px;
    outline: none;
    width: 98%;
    height: 80%;
    font-size: 30px;
    background: transparent;
}
.click{
    background: #5AC0CE;
    width:100%;
    margin-top: 20px;
    height: 120px;
}
p.log{
    text-align: center;
    margin: 0px;
    height: 100%;
    padding-top: 35px;
    font-size: 25px;
}
.forget{
    float: right;
    margin: 10px;
    margin-right: 15px;
}
a{
    font-size: 20px;
}