body{
    background: #68CDD5;
    margin: 0;
}
.main{
    width:100%;
}
.backspace{
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
}
.logo-container {
    padding-top: 8rem;
    width: 100%;
}
.logo{
    align-self: center;
    display: block;
    margin:0 auto;
}
.text-container{
    margin-top: 7rem;
    width: 100%;
}
p{
    margin:0 auto;
    font-size: 1.8rem;
    font-family:"微软雅黑 Light";
    color: white;
    width: 70%;
    text-align: justify;
    line-height: 3.4rem;
}
.button-container{
    padding-top: 30rem;
    width: 100%;
}
.btn1,.btn2{
    display: block;
    margin-top: -20rem;
    position: absolute;
}
.btn1{
    left:20% ;
}
.btn2{
    right: 20%;
}
.btn-word1,.btn-word2{
    position: absolute;
    margin-top: -14rem;
    font-size: 1.4rem;
    display: block;
    width:6rem;
    text-align: center;
}
.btn-word1{
    left:19%;
}
.btn-word2{
    right:19%;
}
